SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100; # 256-byte C stack
    __SRAM_SIZE__: type = weak, value = $2000; # 8KB Save RAM ($6000-$7FFF)
    __SRAM_START__: type = weak, value = $6000;
    NES_MAPPER:    type = weak, value = 0;
    NES_PRG_BANKS: type = weak, value = 2;
    NES_CHR_BANKS: type = weak, value = 1;
    NES_MIRRORING: type = weak, value = 1;
}

MEMORY {
    # Zero Page RAM ($0000 - $00FF)
    ZP:     start = $0000, size = $0100, type = rw, define = yes;

    # iNES Cartridge Header (16 bytes)
    HEADER: start = $0000, size = $0010, file = %O, fill = yes;

    # Main CPU RAM ($0200 - $07FF)
    RAM:    start = $0200, size = $0600, define = yes;

    # PRG-ROM (32KB Code Space from $8000 to $FFF9)
    PRG:    start = $8000, size = $7FFA, file = %O, fill = yes, define = yes;

    # Interrupt Hardware Vectors ($FFFA - $FFFF)
    VECT:   start = $FFFA, size = $0006, file = %O, fill = yes;

    # CHR-ROM (8KB Pattern Table Graphics)
    CHR:    start = $0000, size = $2000, file = %O, fill = yes;
}

SEGMENTS {
    HEADER:   load = HEADER, type = ro;
    ZEROPAGE: load = ZP,     type = zp;
    STARTUP:  load = PRG,    type = ro, define = yes;
    CODE:     load = PRG,    type = ro, define = yes;
    RODATA:   load = PRG,    type = ro, define = yes;
    DATA:     load = PRG,    run = RAM, type = rw, define = yes;
    ONCE:     load = PRG,    type = ro, define = yes, optional = yes;
    BSS:      load = RAM,    type = bss, define = yes;
    VECTORS:  load = VECT,   type = ro;
    CHARS:    load = CHR,    type = ro, optional = yes;
}

FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}